//Styleguide
//---------------------------------------------
$sg-rim-high:#fff;
.map-8pt {
    background-image: url(../images/8pt-map@2x.png);
    background-repeat: repeat;
    // background-size:16px 32px;
    background-size:8px 16px;
}


.styleguide {
    .styleguide-header {
        color: $accent-3;
    }
    .section-content {
      max-width: 1400px;
    }
}
.sg-index-title {
    font-size:120px;
}
@media only screen and (max-width: 900px) {
    .sg-sidenav {
        display: none;
    }
    .sg-content {
        padding-left: 0 !important;
    }
}
.sg-sidenav-hero {
    background-color:#1B78B3;
}
.sg-sidenav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
}

.sg-content {
    padding-left: 256px;
}
//Icon Library
.sg-icon-tile {
    // width: 140px;
    // height: 140px;
    // margin: 8px;
    // padding: 8px;
    // border: solid 1px $neutral-9;
    text-align: center;
    @extend .vert-middle;
    .icon {
        border: solid 1px $neutral-9;
        font-size: 50px;
        @extend .vert-middle;
        svg {
            @extend .margin-auto
        }
    }
    .sg-icon-label {
        margin-bottom: 10px;
        margin-top: 10px;
        @extend .vert-middle;
    }
    code {
        font-size: 10px;
    }
}
//Styleguide linksexample
.linksexample-table {
  .app-name {
    color:inherit;
  }
  .td:hover .app-name span {
    color: $link-hover-color;
    background-image: $underline !important;
  }
  .td:hover .app-route-link {
    background-image: $underline !important;
  }
  .tr:hover {
    .app-name span {
      @extend .underline-gray;
    }
    .app-route .app-route-link {
      @extend .underline-gray;
    }
  }
}

//Styleguide Modal Example
.modalexample {
  background-color:$dark-2;
}
//Styleguide forms
  .formsexample {
    .section-content {
      width:800px;
      p {
        width:600px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
//Styleguide Flex Table
 .flextables {
   .section-content {
     max-width:1200px;
   }
 }
//Styleguide Grid Box
.flexboxgrid, .modalexample, .linksexample {
  .section-content {
    max-width:960px;
  }
}
//Styleguide special pages
.flexboxgrid, .flextables, .modalexample {
  h1 {
    font-size:64px;
  }
  h2 {
    font-size:40px;
  }
  p.sg {
    max-width: 800px;
    margin:auto;
  }
  section {
    margin:56px 0 56px 0;
  }
  code {
    font-size:14px;
    height: 22px;
    line-height: 1;
  }
}
.sg-box-tip {

  width: 100%;
  border-bottom:1px solid $accent-3;
  border-left:1px solid $accent-3;
  border-right:1px solid $accent-3;
  border-top:none;
}


.sg-box {
    background-color: $dark-9;
    width: 100%;
    border-radius: 2px;
    padding: $base-unit;
    min-height: ($base-unit * 5);
}


.index .sg {
    animation: sg-bg-gradients 8s infinite linear;
    background-color: $accent-3;
    .sg-rim {
        position: absolute;
        top: 0;
        margin: 16px;
        width: calc(100% - 32px);
        height: calc(100% - 32px);
        border: solid 8px rgba(255, 255, 255, 0.5);
    }
    .sg-rim-left {
        position: absolute;
        left: -8px;
        top: -8px;
        width: 8px;
        height: calc(100% + 16px);
        // background-color: red;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 8px;
            height: calc(100% + 16px);
            background-color: $sg-rim-high;
            animation: rim-left 4s infinite linear;
        }
    }
    .sg-rim-right {
        position: absolute;
        right: -8px;
        top: -8px;
        width: 8px;
        height: calc(100% + 16px);
        // background-color: red;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            top: -8px;
            // right:-8px;
            width: 8px;
            height: calc(100% + 16px);
            background-color: $sg-rim-high;
            animation: rim-right 4s infinite linear;
        }
    }
    .sg-rim-top {
        position: absolute;
        left: -8px;
        top: -8px;
        width: calc(100% + 16px);
        height: 8px;
        // background-color: green;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: calc(100% + 16px);
            height: 8px;
            background-color: $sg-rim-high;
            animation: rim-top 4s infinite linear;
        }
    }
    .sg-rim-bottom {
        position: absolute;
        right: -8px;
        bottom: -8px;
        width: calc(100% + 16px);
        height: 8px;
        // background-color: green;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: calc(100% + 16px);
            height: 8px;
            background-color: $sg-rim-high;
            animation: rim-bottom 4s infinite linear;
        }
    }
}

@keyframes rim-left {
    0% {
        top: calc(100% + 16px);
    }
    50% {
        top: calc(-100% - 16px);
    }
    100% {
        top: calc(-100% - 16px);
    }
}

@keyframes rim-top {
    0% {
        left: calc(-100% - 16px);
    }
    25% {
        left: calc(-100% - 16px);
    }
    75% {
        left: calc(100% + 16px);
    }
    100% {
        left: calc(100% + 16px);
    }
}

@keyframes rim-right {
    0% {
        top: calc(-100% - 16px);
    }
    50% {
        top: calc(-100% - 16px);
    }
    100% {
        top: calc(100% + 16px);
    }
}

@keyframes rim-bottom {
    0% {
        left: calc(-100% - 16px);
    }
    25% {
        left: calc(-100% - 16px);
    }
    75% {
        left: calc(100% + 16px);
    }
    100% {
        left: calc(100% + 16px);
    }
}

@keyframes rim-bottom {
    0% {
        right: 0;
    }
    25% {
        right: calc(100% + 16px);
    }
    74.9999% {
        right: calc(100% + 16px);
    }
    75% {
        right: calc(-100% - 16px);
    }
    100% {
        right: 0;
    }
}

@keyframes sg-bg-gradients {
    0% {
        background-color: #2196F3;
    }
    33% {
        background-color: #673AB7;
    }
    66% {
        background-color: #3F51B5;
    }
    100% {
        background-color: #2196F3;
    }
}
