[class^="border-"] {
  border-color:$input-border;
}
.border {
  border:solid 1px $input-border;
}
.border-top {
  border-top-style:solid;
  border-top-width:1px;
}
.border-bottom {
  border-bottom-style:solid;
  border-bottom-width:1px;
}
.border-left {
  border-left-style:solid;
  border-left-width:1px;
}
.border-right {
  border-right-style:solid;
  border-right-width:1px;
}
//Remove Border Width
.border-top-0 {
  border-top-width: 0px !important;
}
.border-bottom-0 {
  border-bottom-width: 0px !important;
}
.border-left-0 {
  border-left-width: 0px !important;
}
.border-right-0 {
  border-right-width: 0px !important;
}
.border-none {
  border: none !important;
}
