//HTML Tables
table.table {
  width:100%;
  background-color: $table-bg;
  margin-bottom: ($base-unit*2);
  //HTML Ugly stuff
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  //General Row
  tr {
    border-top: solid 1px $table-border-color;

    border-left: solid 1px $table-border-color;
    border-right: solid 1px $table-border-color;

    &:last-child {
      border-bottom: solid 1px $table-border-color;
    }
    &:hover {
        background-color: $table-bg-hover;
    }
    &.no-hover {
        background-color: $table-bg;
    }
  }
  //Table Header Cell
  th {
    font-size: $table-header-font-size;
    font-weight: $table-header-font-weight;
    //Borders stack on HTML Tables so this needs to be 2px
    border-bottom:solid 2px $table-border-color;
  }
  //General Cell
  td, th {
      border-right: solid 1px $table-border-color;
      padding: $base-unit;
      text-align: inherit;
      &:last-child {
          border-right: none;
      }
  }
  //HTML No Hover on Tables
  &.no-hover {
      tr:hover {
          background-color: $table-bg;
      }
  }
  //HTML hover table cells
  &.td-hover {
      tr:hover {
          background-color: $table-bg;
      }
      tr td:hover {
          background-color: $table-bg-hover;
      }
  }
}
