.tooltip {
  position: relative;
  &.tooltip-left {
    .tooltip-content {
      right:100%;
      left:auto;
      top:50%;
      bottom:auto;
      transform: translatey(-50%);
      margin:0 $tooltip-margin 0 0;
      &:before {
        right:$tooltip-arrow-pull;
        top:50%;
        bottom:auto;
        left:auto;
        transform: translatey(-50%) rotateZ(45deg);
      }
    }
  }
  &.tooltip-right {
    .tooltip-content {
      right:auto;
      left:100%;
      top:50%;
      bottom:auto;
      transform: translatey(-50%);
      margin:0 0 0 $tooltip-margin;
      &:before {
        right:auto;
        top:50%;
        bottom:auto;
        left:$tooltip-arrow-pull;
        transform: translatey(-50%) rotateZ(45deg);
      }
    }
  }
  &.tooltip-bottom {
    .tooltip-content {
      right:auto;
      left:50%;
      top:100%;
      bottom:auto;
      transform: translatex(-50%);
      margin:$tooltip-margin 0 0 0;
      &:before {
        top: $tooltip-arrow-pull;
        left:50%;
        right:auto;
        bottom:auto;
        transform: translateX(-50%) rotateZ(45deg);
      }
    }
  }
  &.tooltip-light {
    .tooltip-content {
      background-color:$tooltip-light-bg;
      color:$tooltip-light-color;
      @extend .box-shadow-1;
      &:before {
        background-color:$tooltip-light-bg;
        @extend .box-shadow-1;
      }
    }
  }
}

.tooltip-content {
  z-index: $tooltip-content-z;
  position: absolute;
  bottom:100%;
  left:50%;
  // right:auto;
  // top:auto;
  transform: translateX(-50%);
  margin:0 0 $tooltip-margin 0; //space for the triangle indicator
  padding:$tooltip-padding;
  font-size: $tooltip-font-size;
  line-height: 1;
  background-color: $tooltip-bg;
  color:$tooltip-color;
  border-radius:$tooltip-border-radius;
  @extend .box-shadow-1;
  &:before {
    content: "";
    z-index: $tooltip-arrow-z-top;
    position: absolute;
    bottom: $tooltip-arrow-pull;
    left:50%;
    transform: translateX(-50%) rotateZ(45deg);
    //background-color:$tooltip-bg;
    background-color:red;
    width: 8px;
    height: 8px;
  }
  &:after {
    content: "";

  }
  .tooltip-arrow {
    z-index: $tooltip-arrow-z-bottom;
    position: absolute;
    bottom: $tooltip-arrow-pull;
    left:50%;
    transform: translateX(-50%) rotateZ(45deg);
    background-color:$tooltip-bg;
    border:1px solid red;
    @extend .box-shadow-1;
    width: 8px;
    height: 8px;
  }

}
