.tooltip {
  position: relative;
  &.tooltip-light {
    .tooltip-container {
      background-color:$tooltip-light-bg;
      color:$tooltip-light-color;
      &:before {
        background-color:$tooltip-light-bg;
      }
      &:after {
        background-color:$tooltip-light-bg;
      }
    }
  }
}

.tooltip-content {
  z-index: $tooltip-content-z;
  position: absolute;
  bottom:100%;
  left:50%;
  // right:auto;
  // top:auto;
  transform: translateX(-50%);
  margin:0 0 $tooltip-margin 0; //space for the triangle indicator


  .tooltip-container {
    padding:$tooltip-padding;
    font-size: $tooltip-font-size;
    line-height: 1;
    background-color: $tooltip-bg;
    color:$tooltip-color;
    border-radius:$tooltip-border-radius;
    @extend .box-shadow-2;

    &:before {
      content: "";
      z-index: $tooltip-arrow-z-top;
      position: absolute;
      bottom: $tooltip-arrow-pull;
      left:50%;
      transform: translateX(-50%) rotateZ(45deg);
      //background-color:$tooltip-bg;
      background-color: transparent;
      //border:solid 1px red;
      width: 8px;
      height: 8px;
    }
    &:after {
      content: "";
      box-sizing: content-box;
      z-index: $tooltip-arrow-z-bottom;
      position: absolute;
      bottom: $tooltip-arrow-pull;
      left:50%;
      transform: translateX(-50%) rotateZ(45deg);
      background-color:$tooltip-bg;
      @extend .box-shadow-2;
      width: 8px;
      height: 8px;

    }
  }

}
