%section#dropdowns
  .section-content.margin-auto.paxl.mdl-color--white
    %h2.section-header Dropdowns
    %p
      Big, beautiful, and complicated.

    %h4 Basic Dropdown
    .example.mbxl
      %div drop to the down icon (drop)
      %div drop to the down icon (select)
      .form-group{:style => "width:200px;"}
        %label Drop It Low
        .dropdown
          %button.dropdown-toggle Transmission
          .svgicon
            .icon-chevron_down
          .dropdown-menu
            %ul
              %li Automatic
              %li Manual
              %li Other
      .form-group{:style => "width:200px;"}
        %label Select Me
        .dropdown
          %button.dropdown-toggle Automatic
          .svgicon
            .icon-select_chevrons
          .dropdown-menu
            %ul
              %li Manual
              %li Other


    %h4 Float Dropdown Menu
    .example.mbxl
      %div drop to the down w/ float menu match width
      %div drop to the down w/ float menu left align
      %div drop to the down w/ float menu right align
      %div drop to the down w/ float menu match width & scroll
      .form-group.form-inline{:style => "width:200px;"}
        %label Label
        .dropdown
          %button.dropdown-toggle Float dropdown
          .svgicon
            .icon-chevron_down
          .dropdown-menu.dropdown-menu-float
            %ul
              %li
                Extra long wrapping line Ipsum Mattis Etiam
              %li.type-ellipsis Ellipsified Venenatis Ornare Malesuada Etiam
              %li Other
      .form-group.form-inline{:style => "width:200px;"}
        %label Float Left
        .dropdown
          %button.dropdown-toggle Dropdown
          .svgicon
            .icon-chevron_down
          .dropdown-menu.dropdown-menu-float.dropdown-menu-left
            %ul
              %li Purus
              %li Elit
              %li Pellentesque Sollicitudin Lorem Vestibulum
      .form-group.form-inline{:style => "width:200px;"}
        %label Float Right
        .dropdown
          %button.dropdown-toggle Dropdown
          .svgicon
            .icon-chevron_down
          .dropdown-menu.dropdown-menu-float.dropdown-menu-right
            %ul
              %li Purus
              %li Elit
              %li Pellentesque
      .form-group.form-inline{:style => "width:200px;"}
        %label Float Scroll
        .dropdown
          %button.dropdown-toggle Dropdown
          .svgicon
            .icon-chevron_down
          .dropdown-menu.dropdown-menu-float.dropdown-menu-scroll
            %ul
              %li Purus
              %li Elit
              %li Pellentesque
              %li Parturient
              %li Fringilla
              %li Cursus
              %li Elit
              %li Fusce
              %li Consectetur
              %li Vestibulum

    %h4 Split Dropdown
    .example.mbxl
      %div drop to the down w/ float
      .form-group{:style => "width:200px;"}
        .dropdown
          .dropdown-label Split dropdown
          %button.dropdown-toggle ^
          .svgicon
            .icon-chevron_down
          .dropdown-menu.dropdown-menu-float
            %ul
              %li Purus
              %li Elit
              %li Pellentesque

    %h4 Flat Button Dropdown
    .example.mbxl
      drop to the down .btn + color mod

    %h4 Link Dropdown
    .example.mbxl
      drop to the down link w/ float menu

    %h4 Icon Dropdown
    %p An icon can be used inside of a basic dropdown, flat button, link dropdown to change the style and space it takes up.
    .example.mbxl
      %div flat button icon w/ float menu
      .form-group
        .dropdown.dropdown-icon
          %button.dropdown-toggle
          .svgicon
            .icon-chevron_down
          .dropdown-menu.dropdown-menu-float.dropdown-menu-left
            %ul
              %li Purus
              %li Elit
              %li Pellentesque Sollicitudin Lorem Vestibulum
