@import "_pui/pui-colors";

//Spacing Base
//---------------------------------------------
$base-unit-small:2px;
$base-unit:8px;




// Scaffolding
// -------------------------

$html-bg:               $neutral-11;
$body-bg:               transparent;
$text-color:            $dark-2 !default;

// Links
// -------------------------

$link-color:                              $accent-3;
$link-hover-color:                        $accent-4;
$link-hover-decoration:                   underline !default;

// Typography
// -------------------------
$font-family-sans-serif: 'Source Sans Pro', 'SourceSansPro', Helvetica, sans-serif;


// $font-family-sans-serif:  'Source Sans Pro', 'SourceSansPro', sans-serif !default;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace:   Menlo, Consolas, "Courier New", monospace !default;
// // $font-family-base:        $font-family-sans-serif !default;


// //This is useless
// $font-size-base:          16px !default;
// $font-size-extra-large:   ceil($font-size-base * 1.5) !default; // ~21px
// $font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
// $font-size-medium:        ceil($font-size-base * 1.14) !default; // ~16px
// $font-size-small:         14px;
// $font-size-extra-small:   12px;


// $font-weight-em-low:      200;
// $font-weight-em-default:  400;
// $font-weight-em-high:     600;
// $font-weight-em-max:      700;


// $headings-font-family:    null;
// $headings-font-weight:    400 !default;
// $former-headings-line-height: 1.5;
// $headings-line-height:    1.286 !default;
// $headings-padding:        1em * ($former-headings-line-height - $headings-line-height) / 2;
// $headings-color:          null;


// $font-size-h1:            31px;
// $font-weight-h1:          400;

// $font-size-h2:            25px;
// $font-weight-h2:          400;

// $font-size-h3:            20px;
// $font-weight-h3:          400;

// $font-size-h4:            18px;
// $font-weight-h4:          400;

// $font-size-h5:            16px;
// $font-weight-h5:          400;

// $font-size-h6:            13px;
// $font-weight-h6:          400;

// $line-height-base:        1.5; //1.428571429 !default; // 20/14
// $line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

// $font-size-title:         42px;


// //Base
// $baseFontSize:              $font-size-base;
// $baseLineHeight:            $line-height-base; //must be unitless
// $baseSpacing:               $line-height-base + em;









// // Table Scrollable

// $table-scrollable-lg:            900px;
// $table-scrollable-md:            600px;
// $table-scrollable-sm:            300px;
// $table-scrollable-default-height:183px;

// $table-scrollable-border:        1px solid $neutral-8;
// $table-scrollable-header-border: 2px solid $neutral-8;
// $table-scrollable-body-border:   3px solid $neutral-9;

// // Whitespace
// // -------------------------
// $whitespace-s:        $base-unit / 4;
// $whitespace-m:        $base-unit / 2;
// $whitespace-l:        $base-unit;
// $whitespace-xl:       $base-unit * 2;
// $whitespace-xxl:      $base-unit * 3;
// $whitespace-xxxl:     $base-unit * 4;

// // mobile screen whitespace
// $whitespace-screen-sm-s:        $base-unit / 4;
// $whitespace-screen-sm-m:        $base-unit / 2;
// $whitespace-screen-sm-l:        $base-unit;
// $whitespace-screen-sm-xl:       $base-unit * 2;
// $whitespace-screen-sm-xxl:      $base-unit * 3;
// $whitespace-screen-sm-xxxl:     $base-unit * 4;

// // Media queries breakpoints
// // --------------------------------------------------

// // Extra small screen / phone
// // Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
// $screen-xs:                  480px !default;
// $screen-xs-min:              $screen-xs !default;
// $screen-phone:               $screen-xs-min !default;

// // Small screen / tablet
// // Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
// $screen-sm:                  768px !default;
// $screen-sm-min:              $screen-sm !default;
// $screen-tablet:              $screen-sm-min !default;

// // Medium screen / desktop
// // Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
// $screen-md:                  992px !default;
// $screen-md-min:              $screen-md !default;
// $screen-desktop:             $screen-md-min !default;

// // Large screen / wide desktop
// // Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
// $screen-lg:                  1200px !default;
// $screen-lg-min:              $screen-lg !default;
// $screen-lg-desktop:          $screen-lg-min !default;

// // XL screen / wide desktop
// // Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
// $screen-xl:                  1800px !default;
// $screen-xl-min:              $screen-xl !default;
// $screen-xl-desktop:          $screen-xl-min !default;

// // So media queries don't overlap when required, provide a maximum
// $screen-xs-max:              ($screen-sm-min - 1) !default;
// $screen-sm-max:              ($screen-md-min - 1) !default;
// $screen-md-max:              ($screen-lg-min - 1) !default;




/////////////////////////
//EXPERIMENTAL
////////////////////////



//Forms
//---------------------------------------------
$input-border:$dark-9;
$input-border-focus:$dark-5;
$input-disabled:$dark-10;
$input-border-invalid:$error-3;
$input-invalid-text:$error-3;
$input-border-valid:$success-2;
//Buttons
//---------------------------------------------
//Button Letter Spacing
$btn-letter-spacing:0.5px;
//Button Border Width
$btn-border-width:2px;
//Button Radius
$btn-radius:2px;
//Button Font Weight
$btn-font-weight:600;

//Button Colors
//default
$btn-default-color:$dark-5;
$btn-default-color-hover:$dark-3;
$btn-default-color-focus:$dark-3;
//hightlight
$btn-highlight-color:$accent-3;
$btn-highlight-color-hover:$accent-2;
$btn-highlight-color-focus:$accent-2;
//positive
$btn-positive-color:$success-2;
$btn-positive-color-hover:$success-1;
$btn-positive-color-focus:$success-1;
//negative
$btn-negative-color:$error-3;
$btn-negative-color-hover:$error-2;
$btn-negative-color-focus:$error-2;

//Loading Spinner
$loading-spinner:$accent-3;
$svg-size: 100px;
$offset: 430;
$duration: 2s;


// Tables
// -------------------------
$table-font-size: 14px;
$table-header-font-weight: 600;

$table-bg:                           transparent !default; // overall background-color
$table-bg-hover:                     $dark-11;

$table-border-color:                 $dark-9; // table and cell border
$table-border-radius: 2px;

// Tooltips
//--------------------------
$tooltip-border-radius:2px;
$tooltip-font-size:12px;
$tooltip-padding:($base-unit / 2) $base-unit;
$tooltip-margin:8px;
$tooltip-container-z:10;
$tooltip-arrow-pull:-4px;
$tooltip-arrow-z-bottom:-1;
$tooltip-arrow-z-top:1;
$tooltip-opacity-transition:ease-out .2s;

//Dark Default Tooltip
$tooltip-bg:$dark-2;
$tooltip-color:#fff;
$tooltip-border-color: $dark-2;
//Light Modified Tooltip
$tooltip-light-bg: #fff;
$tooltip-light-color: $dark-2;
$tooltip-light-border-color: $dark-9;
//Tooltip Sizes
$tooltip-sm-width:120px;
$tooltip-md-width:240px;
$tooltip-lg-width:360px;


//Screen Sizes
$screen-sm: 480px;
$screen-md: 620px;
$screen-lg: 750px;


//Box Shadows
//---------------------------------------------
//Shadow - key light
$box-shadow-key-1: 0px 2px 2px 0px rgba(36, 54, 65, 0.1);
$box-shadow-key-2: 0px 4px 4px 0px rgba(36, 54, 65, 0.1);
$box-shadow-key-3: 0px 8px 8px 0px rgba(36, 54, 65, 0.1);
//Shadow - ambient light
$box-shadow-amb-1: 0px 0px 2px 0px rgba(36, 54, 65, 0.1);
$box-shadow-amb-2: 0px 0px 4px 1px rgba(36, 54, 65, 0.1);
$box-shadow-amb-3: 0px 0px 8px 1px rgba(36, 54, 65, 0.1);
