.page.map-8pt
  .paxl{:style => "width:400px;"}
    %h1{:style => "background:green;"} Title xyz ABC
    %p.type-lg Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    .form-group
      %label Label
      %input.form-control{:type => "email", :placeholder => "Email"}
    %button.btn-default Enter
