---
title: 8 Gauge Styleguide
---

.page
  %section.pvxxl
    .section-content.margin-auto.txt-c
      %h1 Flex Grid
      %p.sg.type-lg Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.
  %section
    .section-content.margin-auto.txt-c
      %h2.mbxl The Foundation
      %p.sg.type-lg The reason why... Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.
    %section#auto-layout
      .section-content.margin-auto.txt-c
        %h2.mbxl The Basic Auto Layout
        %p.sg.type-lg Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

        .grid.mvxl
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
        .grid.mvxl
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
        .grid.mvxl
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
    %section#no-gutter
      .section-content.margin-auto.txt-c
        %h2.mbxl No Gutter
        %p.sg.type-lg
          Remove the gutter by adding
          %code .grid-nogutter
          to the
          %code .grid
          element.

        .grid.grid-nogutter.mvxl
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col

    %section#percent-layout
      .section-content.margin-auto.txt-c
        %h2.mbxl Percent Based Layout
        %p.sg.type-lg The familiar n/24 column based system
        .grid.mvxl
          .col.col-16
            .sg-box
              %code .col.col-16
          .col.col-4
            .sg-box
              %code .col.col-4
          .col.col-4
            .sg-box
              %code .col.col-4
        .grid.mvxl
          .col.col-12
            .sg-box
              %code .col.col-12
          .col.col-4
            .sg-box
              %code .col.col-4
          .col.col-8
            .sg-box
              %code .col.col-8
        .grid.mvxl
          .col.col-4
            .sg-box
              %code .col.col-4
          .col.col-9
            .sg-box
              %code .col.col-9
          .col.col-7
            .sg-box
              %code .col.col-7
          .col.col-4
            .sg-box
              %code .col.col-4
    %section#flex-grow-layout
      .section-content.margin-auto.txt-c
        %h2.mbxl Flex Grow Layout
        %p.sg.type-lg Based on flex-grow this layout style allows for dynamic content distribution. The flex-grow will attempt to respect it's given ratio until the content of the column exceeds it's parameters. This is the only reason a flex-grow based column will ever drop onto another row.
        .grid.mvxl
          .col.col-grow-2
            .sg-box
              %code .col.col-grow-2
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
        .grid.mvxl
          .col.col-grow-3
            .sg-box
              %code .col.col-grow-3
          .col.col-grow-2
            .sg-box
              %code .col.col-grow-2
          .col
            .sg-box
              %code .col
        .grid.mvxl
          .col.col-grow-8
            .sg-box
              %code .col.col-grow-8
          .col.col-grow-2
            .sg-box
              %code .col.col-grow-2
          .col.col-grow-2
            .sg-box
              %code .col.col-grow-2
    %section#fixed-column-layout
      .section-content.margin-auto.txt-c
        %h2.mbxl Fixed Column Layout
        %p.sg.type-lg Add in the fixed column class and pass the column a defined width or allow content like an image to dictate the desired width. It's recommended to fill the space with dynamic flex columns however you can mix in percent based columns too. Utilizing a fixed column with only percent based columns will make it difficult to reach 100%.
        .grid.mvxl
          .col.col-fixed{:style => "width:240px"}
            .sg-box
              %code .col.col-fixed
          .col
            .sg-box
              %code .col
          .col
            .sg-box
              %code .col
        .grid.mbxl
          .col.col-fixed{:style => "width:240px"}
            .sg-box-tip
              Fixed 240px
          .col
            .sg-box-tip
              Dynamic Area
        .grid.mvxl
          .col.col-fixed{:style => "width:240px"}
            .sg-box
              %code .col.col-fixed
          .col.col-grow-3
            .sg-box
              %code .col.col-grow-3
          .col
            .sg-box
              %code .col
        .grid.mbxl
          .col.col-fixed{:style => "width:240px"}
            .sg-box-tip
              Fixed 240px
          .col
            .sg-box-tip
              Dynamic Area
        .grid.mvxl
          .col.col-fixed{:style => "width:240px"}
            .sg-box
              %code .col.col-fixed
          .col.col-grow-3
            .sg-box
              %code .col.col-grow-3
          .col
            .sg-box
              %code .col
          .col.col-6
            .sg-box
              %code .col.col-6
        .grid.mbxl
          .col.col-fixed{:style => "width:240px"}
            .sg-box-tip
              Fixed 240px
          .col
            .sg-box-tip
              Dynamic Area
          .col.col-6
            .sg-box-tip
              25% of Total
    %section#content-alignment
      .section-content.margin-auto.txt-c
        %h2.mbxl Content Alignments
        %p.sg.type-lg Donec id elit non mi porta gravida at eget metus.
        .grid.mvxl
          .col.col-top
            .sg-box.col-top{:style => "height:80px;"}
              %code .col.col-top
          .col.col-middle
            .sg-box.col-middle{:style => "height:80px;"}
              %code .col.col-middle
          .col.col-bottom
            .sg-box.col-bottom{:style => "height:80px;"}
              %code .col.col-bottom
    %section#column-vertical-alignment
      .section-content.margin-auto.txt-c
        %h2.mbxl Column Vertical Alignments
        %p.sg.type-lg Donec id elit non mi porta gravida at eget metus.
        .grid.mvxl
          .col.col-align-top
            .sg-box
              %code .col.col-align-top
          .col.col-align-middle
            .sg-box
              %code .col.col-align-middle
          .col
            .sg-box
              Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          .col.col-align-bottom
            .sg-box
              %code .col.col-align-bottom
    %section#column-horizontal-alignment
      .section-content.margin-auto.txt-c
        %h2.mbxl Column Horizontal Alignments
        %p.sg.type-lg Donec id elit non mi porta gravida at eget metus.
        .grid.grid-start.mvxl
          .col.col-12
            .sg-box
              %code .grid-start .col.col-12
        .grid.grid-center.mvxl
          .col.col-12
            .sg-box
              %code .grid-center .col.col-12
        .grid.grid-end.mvxl
          .col.col-12
            .sg-box
              %code .grid-end .col.col-12
    %section
      .section-content.margin-auto.txt-c
        %h2.mbxl Column Distribution
        %p.sg.type-lg Donec id elit non mi porta gravida at eget metus.
        .grid.grid-around.mvxl
          .col.col-fixed{:style => "width:200px;"}
            .sg-box
              %code .grid-around .col
          .col.col-fixed{:style => "width:200px;"}
            .sg-box
              %code .grid-around .col
          .col.col-fixed{:style => "width:200px;"}
            .sg-box
              %code .grid-around .col
        .grid.grid-between.mvxl
          .col.col-fixed{:style => "width:200px;"}
            .sg-box
              %code .grid-between .col
          .col.col-fixed{:style => "width:200px;"}
            .sg-box
              %code .grid-between .col
          .col.col-fixed{:style => "width:200px;"}
            .sg-box
              %code .grid-between .col
    %section
      .section-content.margin-auto.txt-c
        %h2.mbxl Column Ordering
        %p.sg.type-lg Donec id elit non mi porta gravida at eget metus.
        .grid.mvxl
          .col
            .sg-box
              %span.em-high.type-md 1
          .col
            .sg-box
              %span.em-high.type-md 2
          .col
            .sg-box
              %span.em-high.type-md 3

        .grid.mvxl
          .col
            .sg-box
              %span.em-high.type-md 1
          .col
            .sg-box
              %span.em-high.type-md 2
          .col.col-first
            .sg-box
              %span.em-high.type-md 3
              %code .col-first
        .grid.mvxl
          .col.col-last
            .sg-box
              %span.em-high.type-md 1
              %code .col-first
          .col
            .sg-box
              %span.em-high.type-md 2
          .col
            .sg-box
              %span.em-high.type-md 3
        %p.sg.type-lg
          Adding
          %code .grid-reverse
          to the
          %code .grid
          reverses the order of the columns.

        .grid.grid-reverse.mvxl
          .col
            .sg-box
              %span.em-high.type-md 1
          .col
            .sg-box
              %span.em-high.type-md 2
          .col
            .sg-box
              %span.em-high.type-md 3

    %section
      .section-content.margin-auto.txt-c
        %h2.mbxl Nested Columns
        %p.sg.type-lg Donec id elit non mi porta gravida at eget metus.
    %section
      .section-content.margin-auto.txt-c
        %h2.mbxl Media Breaks
        %p.sg.type-lg Donec id elit non mi porta gravida at eget metus.
