---
title: 8 Gauge
---

.page.full-vh.sg
	.sg-rim
		.sg-rim-left
		.sg-rim-top
		.sg-rim-right
		.sg-rim-bottom



	%div.pos-a-mid.txt-c
		%h1.em-ultra.raleway.mbxxxl.type-white.sg-index-title 8 Gauge
		%a.btn.btn-default-alt-wh.btn-lg.mbl{:href => "/styleguide.html"}
			View Styleguide
		%div.type-white
			by
			%a.type-white{:href => "https://twitter.com/Elliotdahl", :target => "_blank"} @elliotdahl
