---
title: 8 Gauge Styleguide
---

.page
  %section.mbn
    .section-content.margin-auto.txt-c
      %h1.mvxl Links
      %p.sg.type-lg.mbxl
        Links are cool for linking things together. Here's how to use them.
  %section
    .section-content.margin-auto
      %h2.mbxl.txt-c The Paragraph
      %p.sg.mbxl.txt-c.margin-auto{:style => "width:400px;"}
        Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, sit amet risus.
        %a.underline-hover{:href => "#"} Learn more
  %section
    .section-content.margin-auto
      %h2.mbxl.txt-c External Link
      %p.sg.mbxl.txt-c.margin-auto{:style => "width:400px;"}
        %a.underline-hover{:href => "#"}
          Autobots roll out
          %span.icon.icon-baseline
            =partial 'images/svg-lib/open_in_new.svg'
  %section
    .section-content.margin-auto
      %h2.mbxl.txt-c Links in a table
      %p.sg.mbxl.txt-c.margin-auto{:style => "width:400px;"}
        Note the two different types of clickable zones in this table.
        .table.linksexample-table
          .tr.grid.tr-no-h-borders
            .th.col
              Apps
            .th.col Memory
            .th.col Disk
            .th.col Route
          .tr.grid.tr-no-h-borders.tr-hover
            .td.col
              %a.app-name{:href => "#"}
                %span Vestibulum
            .td.col 512 MB
            .td.col 1 GB
            .td.col
              %a.app-route{:href => "https://google.com"}
                %span.app-route-link https://google.com
                %span.icon.icon-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
          .tr.grid.tr-no-h-borders.tr-hover
            .td.col
              %a.app-name{:href => "#"}
                %span Aenean
            .td.col 128 MB
            .td.col 512 MB
            .td.col
              %a.app-route{:href => "https://google.com"}
                %span.app-route-link https://google.com
                %span.icon.icon-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
