---
title: 8 Gauge Styleguide
---

.page
  %section.pvxxl
    .section-content.margin-auto.txt-c.type-white
      %h1 Modals
      %p.sg.type-lg.mbxl These wonderful floating boxes are to be kept short and sweet as often as possible. The contents of the body are intended to hold an item that will push the footer down by 16px. The width of the modal is 744px.
    .section-content.margin-auto
      .modal
        .modal-dialog
          .modal-content
            .modal-header
              .grid.grid-nogutter
                .col
                  %h3.em-high Nice little fluffy clouds
              .modal-close
                %button.btn-icon
                  .svgicon
                    =partial 'images/svg-lib/close.svg'
            .modal-body
              %p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod.
            .modal-footer.txt-r
              %button.btn-default-alt.mrxl Cancel
              %button.btn-default Proceed
      .modal
        .modal-dialog
          .modal-content
            .modal-header
              .grid.grid-nogutter
                .col
                  %h3.em-high Nice little fluffy clouds
              .modal-close
                %button.btn-icon
                  .svgicon
                    =partial 'images/svg-lib/close.svg'
            .modal-body
              %p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod.
      .modal
        .modal-dialog
          .modal-content
            .modal-header
              .grid.grid-nogutter
                .col
                  %h3.em-high Nice little fluffy clouds
              .modal-close
                %button.btn-icon
                  .svgicon
                    =partial 'images/svg-lib/close.svg'
            .modal-body
              %p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod.
              .grid
                .col
                  .form-group.mrn
                    %label Name
                    %input.form-control{:type => "text", :placeholder => "Name"}
                .col
                  .form-group.mrn
                    %label Email
                    %input.form-control{:type => "email", :placeholder => "Email"}
              .grid
                .col
                  .form-group.form-group-select.mrn
                    %label Company
                    %select.form-control
                      %option Pivotal
                      %option Google
                      %option Yahoo
                      %option Microsoft-Linkedin
                    .svgicon
                      =partial 'images/svg-lib/select_chevrons.svg'
                .col
                  .form-group.mrn
                    %label Role
                    %input.form-control{:type => "text", :placeholder => "Role"}

            .modal-footer.txt-r
              %button.btn-highlight-alt.mrxl Cancel
              %button.btn-highlight Create Account
