---
title: 8 Gauge Styleguide
---

.page


  .margin-auto.relative
    %section.sg-sidenav.box-shadow-2
      .section-content.margin-auto
        .sg-sidenav-hero.txt-c.pvxl
          %a.raleway.type-white{:href => "/"}
            %h1.mbn.em-ultra 8 Gauge

        %ul.list-unstyled.paxl.type-md
          %li
            %a.hover-underline{:href => "#get-started"} Get Started
          %li
            %a.hover-underline{:href => "#buttons"} Buttons
          %li
            %a.hover-underline{:href => "#forms"} Forms
          %li
            %a.hover-underline{:href => "#dropdowns"} Dropdowns
          %li
            %a.hover-underline{:href => "#grids"} Grid
          %li
            %a.hover-underline{:href => "#links"} Links
          %li
            %a.hover-underline{:href => "#lists"} Lists
          %li
            %a.hover-underline{:href => "#tables"} Tables
          %li
            %a.hover-underline{:href => "#tooltips"} Tooltips
          %li
            %a.hover-underline{:href => "#icons"} Icons
          %li
            %a.hover-underline{:href => "#loading-spinners"} Spinners


    .sg-content.no-gutter
      %div
        %section#get-started
          .section-content.margin-auto.paxl.mdl-color--white
            %h3 Get Started
            %a.btn.btn-highlight.btn-lg{:href => "https://github.com/elliotdahl/8-gauge-styleguide-old", :target => "_blank"} View Repo
            %p.mtm.mbn Version: 0.1
        %section#buttons
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Buttons
            %p
              Four different button colors and their alt variations. The base
              %code .btn
              is the default ghost. You can modify it's color with a class.

            .section-format.mbxl
              .mbxl
                %button.btn.btn-default
                  %span Default
                %button.btn.btn-default-alt Default Alt
                %button.btn Flat

              .mbxl
                %button.btn.btn-highlight Highlight
                %button.btn.btn-highlight-alt Highlight Alt
                %button.btn.btn-highlight-flat Flat

              .mbxl
                %button.btn.btn-positive Positive
                %button.btn.btn-positive-alt Positive Alt
                %button.btn.btn-positive-flat Flat
              %div
                %button.btn.btn-negative Negative
                %button.btn.btn-negative-alt Negative Alt
                %button.btn.btn-negative-flat Flat


            %h4 Disabled

            .section-format.mbxl
              .mbxl
                %button.btn.btn-default.disabled{:disabled => ""} Default
                %button.btn.btn-default-alt.disabled{:disabled => ""} Default Alt
                %button.btn.disabled{:disabled => ""} Flat
              .mbxl
                %button.btn.btn-highlight.disabled{:disabled => ""} Highlight
                %button.btn.btn-highlight-alt.disabled{:disabled => ""} Highlight Alt
                %button.btn.btn-highlight-flat.disabled{:disabled => ""} Flat

              .mbxl
                %button.btn.btn-positive.disabled{:disabled => ""} Positive
                %button.btn.btn-positive-alt.disabled{:disabled => ""} Positive Alt
                %button.btn.btn-positive-flat.disabled{:disabled => ""} Flat
              %div
                %button.btn.btn-negative.disabled{:disabled => ""} Negative
                %button.btn.btn-negative-alt.disabled{:disabled => ""} Negative Alt
                %button.btn.btn-negative-flat.disabled{:disabled => ""} Flat
            %h4 Icon Buttons
            .section-format.mbxl
              %div
                %button.btn.btn-default

                  .icon
                    =partial 'images/svg-lib/add.svg'
                  %span
                    default
                %button.btn.btn-default.btn-icon
                  .icon
                    =partial 'images/svg-lib/autorenew.svg'
                %button.btn.btn-positive.btn-icon.btn-sm
                  .icon
                    =partial 'images/svg-lib/add.svg'
                %button.btn.btn-default-alt.btn-icon
                  .icon
                    =partial 'images/svg-lib/add.svg'
                %button.btn.btn-highlight.btn-icon.btn-lg
                  .icon
                    =partial 'images/svg-lib/add.svg'



            %h4 Button Loaders
            .section-format.mbxl

              .mbxl
                %button.btn.btn-default
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  %span
                    Loading

                %button.btn.btn-default-alt
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Loading

              .mbxl
                %button.btn.btn-highlight
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Loading
                %button.btn.btn-highlight-alt
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Loading
              .mbxl
                %button.btn.btn-positive
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Loading
                %button.btn.btn-positive-alt
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Loading
              %div
                %button.btn.btn-negative
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Loading
                %button.btn.btn-negative-alt
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Loading
            %h4 Sizes
            .section-format.mbxl
              .mbxl
                %button.btn.btn-default.btn-sm
                  %div small
                %button.btn.btn-default default
                %button.btn.btn-default.btn-lg
                  %div large
              .mbxl
                %button.btn.btn-default.btn-sm
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Small Load
                %button.btn.btn-default
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Loading
                %button.btn.btn-default.btn-lg
                  .icon.spinner-sm
                    =partial 'images/loading/spinner.svg'
                  Large Load
              %div
                %button.btn.btn-default.btn-sm
                  .icon
                    =partial 'images/svg-lib/add.svg'
                  %div small
                %button.btn.btn-default
                  .icon
                    =partial 'images/svg-lib/add.svg'
                  %div default
                %button.btn.btn-default.btn-lg
                  .icon
                    =partial 'images/svg-lib/add.svg'
                  %div large
            %h4 Button Groups
            .section-format.mbxl
              .mbxl

                .btn-group
                  %button.btn.btn-default-alt yes
                  %button.btn.btn-default> maybe
                  %button.btn.btn-default-alt no
              %div
                .btn-group
                  %button.btn.btn-default-alt.btn-icon
                    .icon
                      =partial 'images/svg-lib/add.svg'
                  %button.btn.btn-default-alt.btn-icon>
                    .icon
                      =partial 'images/svg-lib/close.svg'
                  %button.btn.btn-default-alt.btn-icon
                    .icon
                      =partial 'images/svg-lib/search.svg'
            %h4 Button Group Flat
            %p Flat Button Group
            .section-format
              .mbxl
                .btn-group-flat
                  %button.btn.btn-icon
                    .icon
                      =partial 'images/svg-lib/chevron_left.svg'
                  %button.btn>
                    3
                  %button.btn>
                    4
                  %button.btn.btn-default>
                    5
                  %button.btn.btn-icon
                    .icon
                      =partial 'images/svg-lib/chevron_right.svg'
              .mbxl
                .btn-group-flat
                  %button.btn.btn-icon
                    .icon
                      =partial 'images/svg-lib/format_align_left.svg'
                  %button.btn.btn-icon
                    .icon
                      =partial 'images/svg-lib/format_align_justify.svg'
                  %button.btn.btn-icon.btn-default
                    .icon
                      =partial 'images/svg-lib/format_align_center.svg'
                  %button.btn.btn-icon
                    .icon
                      =partial 'images/svg-lib/format_align_right.svg'
              %div
                .btn-group-flat
                  %button.btn>
                    Yes
                  %button.btn>
                    Maybe
                  %button.btn.btn-default>
                    Kinda
                  %button.btn>
                    No


        %section#forms
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Forms
            .section-format.mbxl.pbl
              %form
                .form-group
                  %label Email
                  %input.form-control{:type => "email", :placeholder => "Enter email"}
                .form-group
                  %label Password
                  %input.form-control{:type => "password", :placeholder => "Password"}
                %button.btn.btn-default Submit

            %h4 Row Form (two columns)
            %p
              Use the Flex Grid to organize the
              %code form-group
              into columns
            .section-format.mbxl.pbl
              .grid
                .col
                  .form-group.has-error
                    %label
                      First Name
                      .icon.icon-baseline
                        =partial 'images/svg-lib/info_outline.svg'
                    %input.form-control{:type => "text", :placeholder => "First Name"}
                    .icon.invalid
                      =partial 'images/svg-lib/close.svg'
                    .help-block Error please try again with a real name
                .col
                  .form-group
                    %label Last Name
                    %input.form-control{:type => "text", :placeholder => "Last Name"}
              .grid
                .col
                  .form-group
                    %label Email
                    %input.form-control{:type => "email", :placeholder => "Email"}
                .col
                  .form-group
                    %label Password
                    %input.form-control{:type => "password", :placeholder => "Password"}
              .grid
                .col.txt-r
                  %button.btn.btn-default-alt> Cancel
                  %button.btn.btn-default> Submit
                  %button.btn.btn-default Submit

            %h4 Inline Single Row
            .section-format.mbxl.pbl
              %form
                .form-group.form-inline
                  %label Email
                  %input.form-control{:type => "email", :placeholder => "Enter email"}
                .form-group.form-inline
                  %label Password
                  %input.form-control{:type => "email", :placeholder => "Enter email"}
                .form-group.form-inline
                  %button.btn.btn-default Submit
            %h4 Disabled
            .section-format.mbxl.pbl
              %form
                .form-group
                  %label Email
                  %input.form-control.disabled{:type => "email", :placeholder => "Enter email", :disabled => ""}
                .form-group
                  %button.btn.btn-default.disabled{:disabled => ""} Submit
            %h4 Large
            .section-format.mbxl.pbl
              %form
                .form-group.form-lg
                  %label Large
                  %input.form-control{:type => "text", :placeholder => "Larger"}
                .form-group.form-lg
                  %button.btn.btn-default.btn-lg Large Btn
            %h4 Select
            .section-format.mbxl.pbl
              %form
                .form-group.form-sm.form-group-select
                  %label Select Me
                  %select.form-control
                    %option Pivotal
                    %option Google
                    %option Yahoo
                    %option Microsoft-Linkedin
                  -# .icon
                  -#   =partial 'images/svg-lib/select_chevrons.svg'
                .form-group.form-group-select
                  %label Select Me
                  %select.form-control
                    %option Pivotal
                    %option Google
                    %option Yahoo
                    %option Microsoft-Linkedin
                  -# .icon
                  -#   =partial 'images/svg-lib/select_chevrons.svg'
                .form-group.form-lg.form-group-select
                  %label Select Me
                  %select.form-control{:type => "text", :placeholder => "Larger"}
                    %option Pivotal
                    %option Google
                    %option Yahoo
                    %option Microsoft-Linkedin
                  -# .icon
                  -#   =partial 'images/svg-lib/select_chevrons.svg'


            %h4 Search
            .section-format.mbxl.pbl
              %form
                .form-group.form-group-search
                  %input{:type => "search", :placeholder => "Search..."}
                  .icon
                    =partial 'images/svg-lib/search.svg'
            %h4 Text Area
            .section-format.mbxl.pbl
              %form
                .form-group
                  %textarea{:placeholder => "Type body here..."}
            %h4 Radio/Checkbox
            .section-format.mbxl.pbl
              %form
                .form-group-checkbox
                  %input#check-me{:type => "checkbox"}
                  %label{:for => "check-me"}
                    Remember Me
                .form-group
                  %input{:type => "radio"}
                  Don't Remember me
            %h4 Label Tooltips and Icons
            %p
              Place the
              %code .icon
              into the
              %code label
              element next to the text and add
              %code .svg-basline
              to adjust the alignment.
            .section-format.mbxl.pbl
              %form
                .form-group.form-inline
                  %label
                    Snorglebits
                    .icon.icon-baseline
                      =partial 'images/svg-lib/info_outline.svg'
                  %input.form-control{:type => "text", :placeholder => "Snorglebits"}
                .form-group.form-inline
                  %label
                    Plogglebits
                    .icon.icon-baseline
                      =partial 'images/svg-lib/info_outline.svg'
                  %input.form-control{:type => "text", :placeholder => "Plogglebits"}
            %h4 Error/Acceptance States
            %p Click on the red "x" in the error state to clear the form field and rest the error.
            .section-format.mbxl.pbl
              %form
                .form-group.form-inline
                  %input.invalid{:type => "text", :placeholder => "Enter text", :value => "Wrong Answer"}
                  .icon.invalid
                    =partial 'images/svg-lib/close.svg'
                  .help-block Error please try again
                .form-group.form-inline
                  %input.valid{:type => "text", :placeholder => "Enter text", :value => "Right Answer"}
                  .icon.valid
                    =partial 'images/svg-lib/check_circle.svg'
                .form-group.form-inline
                  %input.loader{:type => "text", :placeholder => "Enter text", :value => "Hold up..."}
                  .icon.loading.spinner-sm
                    =partial 'images/loading/spinner.svg'
            %h4 Simple Forms
            %p Iron out simple use case.
            .section-format.mbxl.pbl
              %form.simple-form
                .form-group.form-inline
                  %input.form-control{:type => "email", :placeholder => "Enter email"}
                .form-group.form-inline
                  %input.form-control.disabled{:type => "email", :value => "disabled"}
                .form-group.form-inline
                  %input.invalid{:type => "text", :placeholder => "Enter text", :value => "Wrong Answer"}
                  .icon.invalid
                    =partial 'images/svg-lib/close.svg'
                  .help-block Error please try again

        =partial 'partials/dropdowns.haml'

        %section#grids
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Flexbox Grid
            %p
              This got big, beautiful and complicated. View the example page to learn more.
            %a.btn.btn-default{:href => "/flexboxgrid.html"} View Flex Grid Examples

        %section#links
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Links
            %p Links are useful for linking.
            %a.btn.btn-default.mbxl{:href => "/linksexample.html"} View Examples
            .section-format.mbxl.pbl
              .pbl
                %a{:href => "#links"} Basic Link Example
              .pbl
                %a.underline{:href => "#links"} Underline Link Example
              .pbl
                %a.underline-hover{:href => "#links"} Underline Hover Link Example
            %h4 Link Underline Size Examples
            %p Underlines are built with linear-gradients on a background-image property.
            .section-format.mbxl.pbl
              .pbl
                %a.type-xs.underline-blue{:href => "#links"} Underline Link 12px
              .pbl
                %a.underline-blue{:href => "#links"} Underline Link 14px
              .pbl
                %a.type-md.underline-blue{:href => "#links"} Underline Link 16px
              .pbl
                %a.type-lg.underline-blue{:href => "#links"} Underline Link 18px
              .pbl
                %a.h2.underline-blue{:href => "#links"} Underline Link 24px
              .pbl
                %a.h1.underline-blue{:href => "#links"} Underline Link 32px

            %h4 Underline Color Examples
            %p
              Use
              %code .underline
              for the classic HTML text decoration,
              %code .underline-blue
              for a link blue color, or
              %code .underline-gray
              for a light gray color. Use a
              %code &lt;span&gt;
              tag to keep the underline under the text where appropriate. The color defined underlines are made to mimic the HTML text decoration but they are acutally using a linear-gradient background-image.
            .section-format.mbxl.pbl
              .pbl
                %a.underline{:href => "#links"} Underline Link 14px
              .pbl
                %a.underline-blue{:href => "#links"} Underline Link 14px
              .pbl
                %a.underline-gray.type-dark-5{:href => "#links"} Underline Link 14px

        %section#lists
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Lists
            %p
              Lists are an antiquated and broken HTML component. These are an exploration of a scalable and fully customizable list format. The dot and the number are both handled by an
              %code :after
              psuedo selector. As long as the lists have text with a line-height of 24px it will look good.

            %h4 UL
            .section-format.mbxl.pbl
              %ul
                %li List Item 1
                %li List Item 2
                %li List Item 3
                %ul
                  %li Secondary List Item 1

                  %li Secondary List Item 2
                  %li Secondary List Item 3

            %h4 OL
            .section-format.mbxl.pbl
              %ol
                %li List Item 1
                %li List Item 2
                %li List Item 3

                %ol
                  %li Secondary List Item 1
                  %li Secondary List Item 2
                  %li Secondary List Item 3

            %h4 Unstyled List
            %p
              Adding class
              %code list-unstyled
              to the
              %code ul
              will remove list styles but keep expected vertical paddings.
            .section-format.mbxl.pbl
              %ul.list-unstyled
                %li List Item 1
                %li List Item 2
                %li List Item 3

            %h4 Inline Lists
            %p
              Adding class
              %code list-inline
              to the
              %code ul
              will remove list styles, irrelevant spacings and make all
              %code li
              elements inline-block.
            .section-format.mbxl
              %ul.list-inline
                %li List Item 1
                %li List Item 2
                %li List Item 3



        %section#tables
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Tables
            %p
              This got big, beautiful and complicated. View the example page to learn more.
            %a.btn.btn-default{:href => "/flextables.html"} View Table Examples

        %section#tooltips
          .section-content.margin-auto.paxl
            %h2.section-header Tooltips
            %p
              Default tooltip is dark and on top. Adding modifier classes will change the direction of the tooltip. For example
              %code .tooltip-right
              will change the direction of the tooltip.
            .section-format.mbxl.pbxl
              .grid.grid-around.txt-c.mbn
                .col
                  %a.tooltip.tooltip-right
                    Tooltip Right
                    .tooltip-container
                      .tooltip-content
                        Lorem
                .col
                  %a.tooltip
                    Tooltip Top
                    .tooltip-container
                      .tooltip-content
                        Lorem
                .col
                  %a.tooltip.tooltip-bottom
                    Tooltip Bottom
                    .tooltip-container
                      .tooltip-content
                        Lorem
                .col
                  %a.tooltip.tooltip-left
                    Tooltip Left
                    .tooltip-container
                      .tooltip-content
                        Lorem

            %h4 Light Tooltips
            %p
              Add
              %code .tooltip-light
              to
              %code .tooltip
              to change the color scheme. This should be utilized for sentences that need to be read for more than a quick glance.
            .section-format.mbxl.pbxl
              .grid.grid-around.txt-c.mbn
                .col
                  %a.tooltip.tooltip-right.tooltip-light
                    Tooltip Right
                    .tooltip-container
                      .tooltip-content
                        Lorem
                .col
                  %a.tooltip.tooltip-light
                    Tooltip Top
                    .tooltip-container
                      .tooltip-content
                        Lorem
                .col
                  %a.tooltip.tooltip-bottom.tooltip-light
                    Tooltip Bottom
                    .tooltip-container
                      .tooltip-content
                        Lorem
                .col
                  %a.tooltip.tooltip-left.tooltip-light
                    Tooltip Left
                    .tooltip-container
                      .tooltip-content
                        Lorem

            %h4 Tooltip Widths
            %p
              The default width of the tooltip is determined by the width of the original element and the text width. Utillize modifier classes to change the fixed width of the tooltip. For example
              %code .tooltip-sm
              sets the width to 104px,
              %code .tooltip-md
              sets the width to 136px,
              %code .tooltip-lg
              sets the width to 200px.
            .section-format.mbxl.pbxl
              .grid.grid-around.txt-c.mbn
                .col
                  %a.tooltip.tooltip-light.tooltip-sm
                    Tooltip Small
                    .tooltip-container
                      .tooltip-content
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                .col
                  %a.tooltip.tooltip-light.tooltip-md
                    Tooltip Medium
                    .tooltip-container
                      .tooltip-content
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod.
                .col
                  %a.tooltip.tooltip-light.tooltip-lg
                    Tooltip Large
                    .tooltip-container
                      .tooltip-content
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

            %h4 Form Icon Tooltips
            %p
              Place the
              %code .icon
              into the
              %code label
              element next to the text and add
              %code .svg-basline
              to adjust the alignment.
            .section-format.mbxl.pbl
              %form
                .form-group.form-inline
                  %label
                    Snorglebits
                    %a.tooltip.tooltip-light.tooltip-md
                      .icon.icon-baseline
                        =partial 'images/svg-lib/info_outline.svg'
                      .tooltip-container
                        .tooltip-content
                          Snorglebits are the most important part to the creation of every plumbus made.
                  %input.form-control{:type => "text", :placeholder => "Snorglebits"}
                .form-group.form-inline
                  %label
                    Plogglebits
                    %a.tooltip
                      .icon.icon-baseline
                        =partial 'images/svg-lib/info_outline.svg'
                      .tooltip-container
                        .tooltip-content
                          Careful
                  %input.form-control{:type => "text", :placeholder => "Plogglebits"}


        %section#icons
          .section-content.margin-auto.paxl.mdl-color--white
            %h2.section-header Icons
            %p
              View
              %a{:href => "http://pivotalicons.cfapps.io/", :target => "_blank"}
                Pivotal SVG Icon Library
            .grid.mvxl
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/select_chevrons.svg'
                .sg-icon-label
                  select_chevrons
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/chevron_up.svg'
                .sg-icon-label
                  chevron_up
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/chevron_down.svg'
                .sg-icon-label
                  chevron_down
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/open_in_new.svg'
                .sg-icon-label
                  open_in_new
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/add.svg'
                .sg-icon-label
                  add
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/info_outline.svg'
                .sg-icon-label
                  info_outline
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/filter_list.svg'
                .sg-icon-label
                  filter_list
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/close.svg'
                .sg-icon-label
                  close
              .col.sg-icon-tile
                .icon
                  =partial 'images/svg-lib/check_circle.svg'
                .sg-icon-label
                  close
              .col.sg-icon-tile
                .icon
                  %img{:src => "/images/check_circle.png"}
                .sg-icon-label
                  check_circle.png
            %h4 SVGs align to text
            %p
              Adding
              %code .icon-baseline
              to to the
              %code .icon
              class absolute positions the icon -0.2ems from the bottom allowing it to align to text properly
            .section-format.mbxl
              %h2
                My favorite icon is
                .icon.icon-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
                and also
                .icon.icon-baseline
                  =partial 'images/svg-lib/info_outline.svg'
                because it aligns to H2
              %h2.em-alt
                My favorite icon is
                .icon.icon-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
                and also
                .icon.icon-baseline
                  =partial 'images/svg-lib/info_outline.svg'
                because it aligns to H2
              %div{:style => "font-size:18px;"}
                My favorite icon is
                .icon.icon-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
                because it aligns to 18px and supports
                .icon.icon-baseline
                  %img{:src => "/images/check_circle.png"}
                as a png
              %div{:style => "font-size:16px;"}
                My favorite icon is
                .icon.icon-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
                because it aligns to 16px
              %div{:style => "font-size:14px;"}
                Just try to
                .icon.icon-baseline
                  =partial 'images/svg-lib/copy.svg'
                it to a new
                .icon.icon-baseline
                  =partial 'images/svg-lib/database.svg'
              %div{:style => "font-size:12px;"}
                My favorite icon is
                .icon.icon-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
                and also
                .icon.icon-baseline
                  =partial 'images/svg-lib/info_outline.svg'
                and also
                .icon.icon-baseline
                  =partial 'images/svg-lib/cancel.svg'
                because it aligns to 12px
              %div.em-alt{:style => "font-size:12px;"}
                My favorite icon is
                .icon.icon-baseline
                  =partial 'images/svg-lib/open_in_new.svg'
                and also
                .icon.icon-baseline
                  =partial 'images/svg-lib/info_outline.svg'
                and also
                .icon.icon-baseline
                  =partial 'images/svg-lib/cancel.svg'
                because it aligns to 12px

        %section#loading-spinners
          .section-content.margin-auto.paxl
            %h2.section-header Spinners
            %p The spinner levels are determined by their size. The base spinner is 100px+ and therfore moves slower. The small spinner is under 16px and so it moves faster and more dramatic. These sizes are defined here to help you in the creation of custom components. Spinner size and speed are already written into buttons and inputs.
            .section-format.mbxl
              .grid.mvxl
                .col.txt-c
                  .mbxl
                    %code .spinner-lg
                  .icon.spinner-lg{:style => "font-size:96px;"}
                    =partial 'images/loading/spinner.svg'
                .col.txt-c
                  .mbxl
                    %code .spinner-md
                  .icon.spinner-md{:style => "font-size:48px;"}
                    =partial 'images/loading/spinner.svg'
                .col.txt-c
                  .mbxl
                    %code .spinner-sm
                  .icon.spinner-sm{:style => "font-size:16px;"}
                    =partial 'images/loading/spinner.svg'
